.color-fondo{
	background-color: #B8DFD8 ;


}
.Color-Part2{
	background-color: #B8DFD8 ;
}
#prin{
	align-items: center;
}
.btn-primary {
    color: #ffff;
    background-color: #64C9CF;
    border-color: black;
}
