{%load staticfiles%}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>TienditaDeLaEsquinaXD</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{%static 'css\MainStyle.css'%}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>More inf</title>
</head>
<body class="Color-Part2">
	<h1></h1>
	 <div align="center">
	 	<img src="https://i.imgur.com/lJQ22vD.png" title="source: imgur.com" />
	 	<img src="https://i.imgur.com/JHxOHoO.png" title="source: imgur.com" />
	 </div>
	 <div align="center">
	 	<h3>
Personajes de caricaturas</h3><h5>Evangelion Test Type-01</h5>
	 	<h3>Marca</h3><h5>	TAMASHII NATIONS</h5>
	 	<h3>Dimensiones del artículo LxWxH</h3><h5>1.85 x 5.5 x 6.69 pulgadas</h5>
	 	<h3>Nombre del modelo</h3><h5>	Evangelion Test Type-01 Evangelion: 3.0+1.0 Thrice Upon a Time, Bandai Robot Spirits</h5>
	 	<h3>Material</h3><h5>Cloruro polivinílico, Acrilonitrilo butadieno estireno</h5>
	 	<p><h4>sobre este articulo</h4>
Una nueva reedición de color de la serie Side EVA, EVANGELION TEST TYPE-01, capturando su nueva apariencia en Evangelion: 3.0 + 1.0 tres veces una vez
Recrea tus escenas favoritas de la película
[Contenido del juego] Cuerpo principal, seis pares de manos opcionales, rifle de palé, cuchillo progresivo, lanza de Cassius, junta de conector Tamashii
El único producto con etiqueta oficial Bluefin ha sido probado a fondo para la seguridad y cumple con todas las normas de seguridad de productos de consumo de América del Norte y le da derecho al comprador a asistencia de soporte del producto</p>
	 </div>

</body>
</html>